 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    I'm <b>Tankery</b>, Graduate from Huazhong University of Science & Tech,
                    with a good training at Dian Group. I'm focusing on the App development since graduate.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    我是<b>Tankery</b>，Dian团队343号队员，毕业于关山口职业技术学院（又名，华中科技大学）。
                    毕业后一直从事着移动应用的开发工作。
                    </p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
