
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% assign sorted_posts = (site.portfolios | where: 'language', page.language | sort: 'modal-id' | reverse) %}
                {% for post in sorted_posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <div class="portfolio-img-background" style="background: {{ post.background }}">
                                <img src="{{site.baseurl}}/img/portfolio/{{ post.img }}" class="img-responsive img-centered img-portfolio" alt="{{ post.title }}">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
